.Menu {
    display: flex;
	flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.Menu .active {
    color: peachpuff;
    font-family: Arial, serif;
    font-weight: bold;
}

TotalProducts {
    position: absolute;
    bottom: 50px;
}